body{
        background-color:aqua;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 100px;
        padding-left: 450px;
        font-size: large;
    }
    label{
        display: block;
        margin: 10px;
    }
    article{
        border: 1px solid black;
        width: 180px;
        padding: 60px;
        margin-left:50px;
        border-radius: 10px;
        background-color: beige;
        box-shadow: 5px;
    }
    p{
        font-size: larger;
        font-style: italic;
        font-family: 'Franklin Gothic Medium';
    }
    input{
        background-color: white;
        border: 1px solid black;
        width: 190px;
    }
    .ironMan{
        margin-top: 20px;
        border-radius: 5px;
        width: 195px;
        background-color: bisque;
        padding:5px;
    }
    .batMan{
        background-color: blue;
    }